{% extends 'base.html.twig' %}

{% block title %}Bob-aventure - Nouveau mot de passe{% endblock %}

{% block body %}
    {% include 'assets/header.html.twig' %}
<main class="bgc-linear-primary">
    <section class="d-flex align-items-center justify-content-center py-5">
        <div class="container container-auth bgc-secondary p-5 shadow mx-4">

            {{ form_start(resetForm) }}

            <h1>Nouveau mot de passe</h1>
            <p>Choisissez un nouveau mot de passe sécurisé</p>

            <div class="mb-3">
                {{ form_widget(resetForm.plainPassword) }}
                {{ form_errors(resetForm.plainPassword) }}
            </div>

            <button type="submit" class="submit-button w-100">Réinitialiser</button>

            {{ form_end(resetForm) }}

        </div>
    </section>
</main>

    {% include 'assets/footer.html.twig' %}
{% endblock %}