<footer class="py-4 bgc-dark font-light">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5 class="mb-3">Bob Aventure</h5>
				<p>Association de raid 4x4 et d'actions humanitaires au Maroc et en Mauritanie</p>
			</div>
			<div class="col-md-4">
				<h5 class="mb-3">Contact</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-decoration-none text-white">Accueil</a>
					</li>
					<li>
						<a href="#" class="text-decoration-none text-white">Actualités</a>
					</li>
					<li>
						<a href="#" class="text-decoration-none text-white">Profil</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="mb-3">Suivez-nous</h5>
				<ul class="list-inline social-icons">
					<li class="list-inline-item">
						<a href="#" class="text-white">
							<i class="fa-brands fa-facebook fa-2xl"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-white">
							<i class="fa-solid fa-envelope fa-2xl"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="mb-4">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>&copy; 2026 Bob Aventure. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
