{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
	{% include 'assets/header.html.twig' %}

    <main class="bgc-primary">
        <section class="hero-news py-5">
            <div class="container">
                <h1>Mon Profil</h1>
                <p>Gérez vos informations personnelles</p>
            </div>
        </section>

        <section class="infos-profil">
            <div class="container py-5">
                <div class="row">
                    <div class="col-4">
                        <div class="bgc-secondary border rounded-3">
                            <div class="card-custom p-4">
                                <div class="text-center">
                                    <div class="icon-card">
                                        <i class="fa-solid fa-user fa-2xl"></i>
                                    </div>
                                    <h2>Jean Dupont</h2>
                                    <p>Membre depuis mars 2024</p>
                                </div>
                                <p>jean.dupont@email.fr</p>
                                <p>+33 6 12 34 56 78</p>
                                <p>Paris, France</p>
                                <button class="btn btn-danger w-100"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Se déconnecter</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="bgc-secondary border rounded-3 p-4">
                            <h2>Informations personnelles</h2>
                            <p>Modifiez vos informations de profil</p>
                            <form action="">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="firstname" class="form-label">Prénom</label>
                                            <input type="text" class="form-control" id="firstname">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="nom" class="form-label">Nom</label>
                                            <input type="text" class="form-control" id="nom">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="telephone" class="form-label">Téléphone</label>
                                            <input type="tel" class="form-control" id="telephone">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="adresse" class="form-label">Adresse</label>
                                            <input type="text" class="form-control" id="adresse">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="bio" class="form-label">Bio</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button class="submit-button w-100">Enregistrer les modifications</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'assets/footer.html.twig' %}
{% endblock %}
