{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
	{% include 'assets/header.html.twig' %}
	<main>
		<section class="hero-home">
			<div class="text-center d-flex flex-column justify-content-center align-items-center h-100 mx-4">
				{% include "assets/flash.html.twig" %}
				<h1 class="color-secondary fw-semibold">Bob Aventure</h1>
				<p class="color-secondary opacity-75 fw-medium">Raid 4x4 et Découverte</p>
				<p class="text-center color-secondary opacity-50">Explorez les déserts du Maroc et de Mauritanie tout en apportant des<br>fournitures scolaires aux écoles locales</p>
				<div class="d-flex gap-4">
					<a href="{{path('app_news')}}" class="btn-primary">Découvrir nos raids &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
					</a>
					<a href="{{path('app_login')}}" class="btn-secondary">Rejoindre l'aventure</a>
				</div>
			</div>
		</section>

		<section class="presentation bgc-secondary py-5">
			<div class="container">
				<div class="text-center mb-5">
					<h2>Notre Mission</h2>
					<p>BOB Aventure combine passion du raid 4x4 et action humanitaire pour créer des expériences inoubliables</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center bgc-secondary-light">
							<div class="icon-card color-secondary">
								<i class="fa-solid fa-globe fa-2xl"></i>
							</div>
							<h3>Exploration</h3>
							<p>Découvrez les paysages époustouflants du Maroc et de la Mauritanie en 4x4</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center bgc-secondary-light">
							<div class="icon-card color-secondary">
								<i class="fa-solid fa-heart fa-2xl"></i>
							</div>
							<h3>Solidarité</h3>
							<p>Distribution de fournitures scolaires dans les écoles des régions visitées</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center bgc-secondary-light">
							<div class="icon-card color-secondary">
								<i class="fa-solid fa-users fa-2xl"></i>
							</div>
							<h3>Communauté</h3>
							<p>Rejoignez une communauté passionnée d'aventuriers et de voyageurs solidaires</p>
						</div>
					</div>
				</div>
				<p class="mt-4 text-center">Depuis sa création, BOB Aventure organise des raids exceptionnels à travers les déserts d'Afrique du Nord. Chaque expédition est l'occasion de vivre une aventure humaine forte, de découvrir des paysages grandioses et d'apporter notre aide aux populations locales, notamment en fournissant du matériel scolaire aux écoles des villages traversés.</p>
			</div>
		</section>

		<section class="actus bgc-secondary-light py-5">
			<div class="container">
				<div class="text-center mb-4">
					<h2>Dernières Actualités</h2>
					<p>Suivez nos aventures et nos actions sur le terrain</p>
				</div>
				<div class="row">
					{% for article in articles %}
						{% include 'assets/card.html.twig' with { article: article } %}
					{% else %}
						<h3 class="text-center mb-4">Aucun article trouvé.</h3>
					{% endfor %}
				</div>
				<div class="text-center">
					<a class="btn-tertiary" href="{{path('app_news')}}">Voir toutes les actualités</a>
				</div>
			</div>

		</section>

		<section class="carousel bgc-secondary py-5">
			<div class="container-fluid">
				<div class="text-center mb-5">
					<h2>Nos Aventures en Images</h2>
					<p>Découvrez les moments forts de nos expéditions</p>
				</div>
				<div class="parent">
					<div class="div1">d</div>
					<div class="div2">d</div>
					<div class="div3">d</div>
					<div class="div4">d</div>
					<div class="div5">d</div>
					<div class="div6">d</div>
					<div class="div7">d</div>
				</div>


			</div>
		</section>
	</main>
	{% include 'assets/footer.html.twig' %}
{% endblock %}
