{% extends 'base.html.twig' %}

{% block title %}BobAventure - Accueil
{% endblock %}

{% block body %}

	{% include 'assets/header.html.twig' %}
	<main>
		<section class="hero">
			<div class="hero-text d-flex flex-column justify-content-center align-items-center h-100">
				<h1>Bob Aventure</h1>
				<p class="sous-titre">Raid 4x4 et Découverte</p>
				<p class="mini-presentation text-center">Explorez les déserts du Maroc et de Mauritanie tout en apportant des<br>fournitures scolaires aux écoles locales</p>
				<div class="d-flex gap-4">
					<a href="#" class="btn-hero-1">Découvrir nos raids &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
					<a href="#" class="btn-hero-2">Rejoindre l'aventure</a>
				</div>
			</div>

		</section>
	</main>

{% endblock %}

