{% extends 'base.html.twig' %}

{% block title %}BobAventure - Accueil{% endblock %}

{% block body %}
	{% include 'assets/header.html.twig' %}
	<main>
		<section class="hero-index">
			<div class="hero-text text-center d-flex flex-column justify-content-center align-items-center h-100 mx-4">
				{% include "assets/flash.html.twig" %}
				<h1 class="font-light">Bob Aventure</h1>
				<p class="sous-titre font-light">Raid 4x4 et Découverte</p>
				<p class="mini-presentation text-center font-light">Explorez les déserts du Maroc et de Mauritanie tout en apportant des<br>fournitures scolaires aux écoles locales</p>
				<div class="d-flex gap-4">
					<a href="#" class="btn-hero-1 font-light">Découvrir nos raids &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
					</a>
					<a href="#" class="btn-hero-2 font-light">Rejoindre l'aventure</a>
				</div>
			</div>
		</section>

		<section class="presentation bgc-primary py-5">
			<div class="container">
				<div class="text-center mb-5">
					<h2>Notre Mission</h2>
					<p>BOB Aventure combine passion du raid 4x4 et action humanitaire pour créer des expériences inoubliables</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center">
							<div class="icon-card">
								<i class="fa-solid fa-globe fa-2xl"></i>
							</div>
							<h3>Exploration</h3>
							<p>Découvrez les paysages époustouflants du Maroc et de la Mauritanie en 4x4</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center">
							<div class="icon-card">
								<i class="fa-solid fa-heart fa-2xl"></i>
							</div>
							<h3>Solidarité</h3>
							<p>Distribution de fournitures scolaires dans les écoles des régions visitées</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-custom p-3 text-center">
							<div class="icon-card">
								<i class="fa-solid fa-users fa-2xl"></i>
							</div>
							<h3>Communauté</h3>
							<p>Rejoignez une communauté passionnée d'aventuriers et de voyageurs solidaires</p>
						</div>
					</div>
				</div>
				<p class="mt-4 text-center">Depuis sa création, BOB Aventure organise des raids exceptionnels à travers les déserts d'Afrique du Nord. Chaque expédition est l'occasion de vivre une aventure humaine forte, de découvrir des paysages grandioses et d'apporter notre aide aux populations locales, notamment en fournissant du matériel scolaire aux écoles des villages traversés.</p>
			</div>
		</section>

		<section class="actus bgc-secondary py-5">
			<div class="container">
				<div class="text-center mb-5">
					<h2>Dernières Actualités</h2>
					<p>Suivez nos aventures et nos actions sur le terrain</p>
				</div>
				<div class="row mb-5">
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-actus position-relative">
							<span class="badge position-absolute top-0 end-0 m-2">Raid</span>
							<img class="card-actus-img" src="{{ asset('images/img-hero.jpg') }}" alt="">
							<div class="card-actus-content p-4">
								<p><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;15 Mars 2024</p>
								<h3>Raid Mauritanie 2024 : Une aventure solidaire</h3>
								<p class="text-truncate-2">Retour sur notre dernière expédition en Mauritanie où nous avons parcouru plus de 2000km à travers le désert...</p>
								<a class="d-block" href="#">Lire la suite&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-actus position-relative">
							<span class="badge position-absolute top-0 end-0 m-2">Raid</span>
							<img class="card-actus-img" src="{{ asset('images/img-hero.jpg') }}" alt="">
							<div class="card-actus-content p-4">
								<p><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;8 Mars 2024</p>
								<h3>Distribution de fournitures scolaires au Maroc</h3>
								<p class="text-truncate-2">Plus de 500 enfants ont reçu des cahiers, stylos et livres dans les écoles des villages traversés...</p>
								<a class="d-block" href="#">Lire la suite&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-4">
						<div class="card-actus position-relative">
							<span class="badge position-absolute top-0 end-0 m-2">Raid</span>
							<img class="card-actus-img" src="{{ asset('images/img-hero.jpg') }}" alt="">
							<div class="card-actus-content p-4">
								<p><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;1 Mars 2024</p>
								<h3>Prochaine expédition : Cap sur le Sud Marocain</h3>
								<p class="text-truncate-2">Préparez-vous pour notre prochain raid prévu en octobre 2024. Inscriptions ouvertes...</p>
								<a class="d-block" href="#">Lire la suite&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a class="all-actus-btn" href="#">Voir toutes les actualités</a>
				</div>
			</div>

		</section>

		<section class="carousel bgc-primary py-5">
			<div class="container-fluid">
				<div class="text-center mb-5">
					<h2>Nos Aventures en Images</h2>
					<p>Découvrez les moments forts de nos expéditions</p>
				</div>
				<div class="parent">
					<div class="div1">d</div>
					<div class="div2">d</div>
					<div class="div3">d</div>
					<div class="div4">d</div>
					<div class="div5">d</div>
					<div class="div6">d</div>
					<div class="div7">d</div>
				</div>


			</div>
		</section>
	</main>
	{% include 'assets/footer.html.twig' %}
{% endblock %}
