@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- STYLES DE BASE ----- */

a {
    text-decoration: none;
}

.font-grey {
    color: #4a4a4a;
}

.font-orange {
    color: #da7330;
}

.bgc-primary {
    background-color: #F4F2EF;
}

.bgc-secondary {
    background-color: #f9f8f5;
}

h1 {
    font-family: "Lexend", sans-serif;
    text-transform: uppercase;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* ----- Header ----- */
/* ------------------ */
header nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #4a4a4a;
    font-weight: 500;
    margin: 0 4px;
}

header nav .nav-link:hover {
    color: #da7330;
}

.btn-connexion {
    background-color: #4a4a4a;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
}

.btn-connexion:hover {
    background-color: #545454;
}


/* ---------- PAGE D'ACCUEIL ---------- */
/* ------------------------------------ */

    /* ----- HERO ----- */
    /* ---------------- */
    .hero {
        background-image: url('../images/img-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 90vh;
        position: relative;
    }

    .hero *{
        z-index: 2;
        color: #f9f8f4;
    }

    .hero-text h1 {
        font-size: 68px;
        font-weight: 700;
    }
    .hero-text .sous-titre {
        font-size: 26px;
        font-weight: 500;
        opacity: 0.8;
    }
    .hero-text .mini-presentation {
        font-size: 20px;
        opacity: 0.6;
    }
    
    .hero::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: #4a4a4a;
        background: linear-gradient(130deg,rgba(74, 74, 74, 1) 30%, rgba(218, 115, 48, 1) 100%);        
        opacity: 0.8;
    }

    .hero-text a {
        font-size: 14px;
        padding: 10px 28px;
        border-radius: 12px;
        font-weight: 600;
    }

    .hero-text .btn-hero-1 {
        background-color: #4a4a4a;
    }

    .hero-text .btn-hero-2 {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .hero-text .btn-hero-1:hover {
        background-color: #545454;
        transition: 0.2s;
    }

    .hero-text .btn-hero-2:hover {
        background-color: #f9f8f42e;
        transition: 0.2s;
    }

    /* ----- PRESENTATION ----- */
    /* ------------------------ */
    .presentation .card-custom {
        background-color: #f9f8f5;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .presentation .card-custom:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .presentation .card-custom .icon-card {
        background: linear-gradient(135deg, rgb(197, 166, 135) 0%, rgb(218, 115, 47) 100%);
        color: #f9f8f5;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    /* ----- ACTUS ----- */
    /* ----------------- */

    .actus .all-actus-btn {
        background-color: #f9f8f5;
        color: #4a4a4a;
        text-align: center;
        border: 1px solid #4a4a4a;
        font-size: 14px;
        padding: 10px 28px;
        border-radius: 12px;
        font-weight: 600;
    }
    .actus .all-actus-btn:hover {
        background-color: #da7330;
        color: #F4F2EF;
        border: none;
        transition: 0.2s;
    }

    .card-actus {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-actus-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .card-actus-content a {
        color: #4a4a4a;
        text-align: center;
        font-size: 14px;
        padding: 10px 28px;
        border-radius: 12px;
        font-weight: 600;
    }
    .card-actus-content a:hover {
        background-color: #da7330;
        color: #F4F2EF;
        transition: 0.2s;
    }