@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- STYLES DE BASE ----- */

a {
    text-decoration: none;
}

.font-light {
    color: #f9f8f4;
}

.font-grey {
    color: #4a4a4a;
}

.font-orange {
    color: #da7330;
}

.bgc-primary {
    background-color: #F4F2EF;
}

.bgc-secondary {
    background-color: #f9f8f5;
}

.bgc-dark {
    background-color: #4a4a4a;
}

h1 {
    font-family: "Lexend", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* ----- Header ----- */
/* ------------------ */
header nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #4a4a4a;
    font-weight: 500;
    margin: 0 4px;
}

header nav .nav-link:hover {
    color: #da7330;
}

.btn-connexion {
    background-color: #4a4a4a;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
}

.btn-connexion:hover {
    background-color: #545454;
}

.btn-deconnexion {
    background-color: #da7330;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
}

.btn-deconnexion:hover {
    background-color: #c45e1f;
}


/* ---------- PAGE D'ACCUEIL ---------- */
/* ------------------------------------ */

/* ----- HERO ----- */
/* ---------------- */
.hero-index {
    background-image: url('../images/img-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.hero-index * {
    z-index: 2;
}

.hero-text h1 {
    font-size: 68px;
    font-weight: 700;
}

.hero-text .sous-titre {
    font-size: 26px;
    font-weight: 500;
    opacity: 0.8;
}

.hero-text .mini-presentation {
    font-size: 20px;
    opacity: 0.6;
}

.hero-index::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #4a4a4a;
    background: linear-gradient(130deg, rgba(74, 74, 74, 1) 30%, rgba(218, 115, 48, 1) 100%);
    opacity: 0.8;
}

.hero-text a {
    font-size: 14px;
    padding: 10px 28px;
    border-radius: 12px;
    font-weight: 600;
}

.hero-text .btn-hero-1 {
    background-color: #4a4a4a;
}

.hero-text .btn-hero-2 {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hero-text .btn-hero-1:hover {
    background-color: #545454;
    transition: 0.2s;
}

.hero-text .btn-hero-2:hover {
    background-color: #f9f8f42e;
    transition: 0.2s;
}

/* ----- PRESENTATION ----- */
/* ------------------------ */
.presentation .card-custom {
    background-color: #f9f8f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.presentation .card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.presentation .card-custom .icon-card {
    background: linear-gradient(135deg, rgb(197, 166, 135) 0%, rgb(218, 115, 47) 100%);
    color: #f9f8f5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/* ----- ACTUS ----- */
/* ----------------- */

.actus .all-actus-btn {
    background-color: #f9f8f5;
    color: #4a4a4a;
    text-align: center;
    border: 1px solid #4a4a4a;
    font-size: 14px;
    padding: 10px 28px;
    border-radius: 12px;
    font-weight: 600;
}

.actus .all-actus-btn:hover {
    background-color: #da7330;
    color: #F4F2EF;
    border: none;
    transition: 0.2s;
}

.card-actus {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-actus .badge {
    background-color: #da7330;
    color: #f9f8f4;
}

.card-actus-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-actus-content a {
    color: #4a4a4a;
    text-align: center;
    font-size: 14px;
    padding: 10px 28px;
    border-radius: 12px;
    font-weight: 600;
}
.card-actus-content .text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-actus-content a:hover {
    background-color: #da7330;
    color: #F4F2EF;
    transition: 0.2s;
}

/* ----- GALERIE IMAGES ----- */
/* -------------------------- */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
}

.div2 {
    grid-area: 3 / 1 / 6 / 2;
}

.div3 {
    grid-area: 1 / 2 / 4 / 3;
}

.div4 {
    grid-area: 4 / 2 / 6 / 3;
}

.div5 {
    grid-area: 2 / 3 / 6 / 4;
}

.div6 {
    grid-area: 1 / 3 / 2 / 4;
}

.div7 {
    grid-area: 3 / 2 / 4 / 3;
}


/* ---------- PAGE ACTUALITES ---------- */
/* ------------------------------------- */

/* ----- HERO ----- */
/* ---------------- */
.hero-news {
    margin-top: 76px;
    background: linear-gradient(90deg,rgba(210, 197, 172, 1) 20%, rgba(236, 228, 212, 1) 100%);    
    color: #4a4a4a;
}

.badge-form {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #4a4a4a75;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
}

/* ----- FORMULAIRE ----- */
/* ---------------------- */
.badge-form:active {
    border: none;
    background-color: #4a4a4a;
    color: #f9f8f4;
}

/* ----- ACTUS ----- */
/* ----------------- */
.badge-form:hover {
    transform: scale(1.05);
}

/* ---------- PAGE PROFIL ---------- */
/* ------------------------------------- */

/* ----- HERO ----- */
/* ---------------- */
.hero-profil {
    margin-top: 76px;
    background: linear-gradient(90deg,rgba(210, 197, 172, 1) 20%, rgba(236, 228, 212, 1) 100%);    
    color: #4a4a4a;
}

.infos-profil .card-custom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infos-profil .card-custom .icon-card {
    background: linear-gradient(135deg, rgb(197, 166, 135) 0%, rgb(218, 115, 47) 100%);
    color: #f9f8f5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.submit-button {
    background-color: #4a4a4a;
    color: #f9f8f4;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.submit-button:hover {
    background-color: #545454;
}

/* ---------- PAGE AUTHENTIFICATION ---------- */
/* ------------------------------------------- */
.bg-auth {
    padding: 75px 0;
    margin-top: 76px;
    background: linear-gradient(90deg,rgba(210, 197, 172, 1) 20%, rgba(236, 228, 212, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 500px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin: 0 36px;
}

.container-login p {
    font-size: 14px;
}