@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    background-color: #f4f2ef;
    padding-top: 76px;
    flex: 1;
}


h1 {
    font-family: "Lexend", sans-serif;
    font-size: 44px;
    color: #4a4a4a;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-size: 36px;
    color: #4a4a4a;
}

h3 {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    color: #4a4a4a;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}


.color-primary {
    color: #4a4a4a;
}

.color-secondary {
    color: #f9f8f5;
}

.color-tertiary {
    color: #da7330;
}

.bgc-primary {
    background-color: #4a4a4a;
}

.bgc-secondary {
    background-color: #f4f2ef;
}

.bgc-secondary-light {
    background-color: #f8f9f5;
}

.bgc-tertiary {
    background-color: #da7330;
}

.bgc-linear-primary {
    background: linear-gradient(90deg,rgba(210, 197, 172, 1) 20%, rgba(236, 228, 212, 1) 100%);    
}

.bgc-linear-secondary {
    background: linear-gradient(130deg, rgba(74, 74, 74, 0.85) 30%, rgba(218, 115, 48, 0.85) 100%);
}

.btn-primary {
    background-color: #4a4a4a;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
    padding: 10px 25px !important;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: #545454;
    transition: 0.2s;
}

.btn-secondary {
    background-color: transparent;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
    padding: 10px 25px !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-weight: 600;
}
.btn-secondary:hover {
    background-color: #f9f8f42e;
    transition: 0.2s;
}

.btn-tertiary {
    background-color: #da7330;
    color: #f9f8f4 !important;
    border-radius: 12px;
    text-align: center;
    padding: 10px 25px !important;
    font-weight: 600;
}
.btn-tertiary:hover {
    background-color: #c45e1f;
    transition: 0.2s;
}