/* ----- HOME ----- */
/* ---------------- */

/* ----- HERO ----- */
/* ---------------- */
.hero-home {
    background-image: url('../images/img-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.hero-home * {
    z-index: 2;
}

.hero-home h1 {
    font-size: 68px;
}

.hero-home p:first-of-type {
    font-size: 26px;
}

.hero-home p:nth-of-type(2) {
    font-size: 20px;
}

.hero-home::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #4a4a4a;
    background: linear-gradient(130deg, rgba(74, 74, 74, 1) 30%, rgba(218, 115, 48, 1) 100%);
    opacity: 0.8;
}

/* ----- PRESENTATION ----- */
/* ------------------------ */
.presentation .card-custom {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.presentation .card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.presentation .card-custom .icon-card {
    background: linear-gradient(135deg, rgb(197, 166, 135) 0%, rgb(218, 115, 47) 100%);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}


/* ----- GALERIE IMAGES ----- */
/* -------------------------- */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
}

.div2 {
    grid-area: 3 / 1 / 6 / 2;
}

.div3 {
    grid-area: 1 / 2 / 4 / 3;
}

.div4 {
    grid-area: 4 / 2 / 6 / 3;
}

.div5 {
    grid-area: 2 / 3 / 6 / 4;
}

.div6 {
    grid-area: 1 / 3 / 2 / 4;
}

.div7 {
    grid-area: 3 / 2 / 4 / 3;
}