/* ---------- PAGE ARTICLE DETAILS ---------- */
/* ------------------------------------------ */
.hero-news-details {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items:end;
}

.hero-news-details::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, rgba(74, 74, 74, 0.85) 30%, rgba(218, 115, 48, 0.85) 100%);
}

.hero-news-details-content {
    position: relative;
    z-index: 2;
}
.hero-news-details-content .badge {
    background-color: #da7330;
    color: #f9f8f4;
}

.hero-news-details-content h1{
    font-size: 68px;
    font-weight: 700;
}

.hero-news-details-content a {
    font-size: 14px;
    padding: 10px 28px;
    border-radius: 12px;
    font-weight: 600;
}
.btn-news-details {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.hero-news-details-content .btn-news-details:hover {
    background-color: #f9f8f42e;
    transition: 0.2s;
}